1.) Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [8]:
import pandas as pd
data1 = [4, 8, 15, 16, 23, 42]
my_series=pd.Series(data1)
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
2.) Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [9]:
import pandas as pd
data1 = [4, 8, 15, 16, 23, 42, 56, 89, 78, 34]
my_series=pd.Series(data1)
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
6    56
7    89
8    78
9    34
dtype: int64

3.) Create a Pandas DataFrame that contains the following data:

In [12]:
import pandas as pd

# Create a dictionary of data
data = {'name': ['Sajal', 'Poonam', 'Pooja', 'Sweta'],
        'age': [27, 24, 26, 27],
        'State': ['Bangalore', 'Noida', 'Ranchi', 'Bangalore']}


my_dataframe = pd.DataFrame(data)

print(my_dataframe)

     name  age      State
0   Sajal   27  Bangalore
1  Poonam   24      Noida
2   Pooja   26     Ranchi
3   Sweta   27  Bangalore

4.) What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a 2-dimensional labeled data structure that is used for data manipulation and analysis. It is similar to a spreadsheet or SQL table, where data is organized in rows and columns. Each column in a DataFrame can have a different data type and can be labeled with a column name. Additionally, each row can be labeled with an index value.

On the other hand, a Pandas Series is a one-dimensional labeled array that is capable of holding any data type. Each element in a Series is labeled with an index value. It is similar to a column in a DataFrame but without the column name.

In [15]:
import pandas as pd

# create a dictionary of data
data = {'name': ['Sajal', 'Poonam', 'Pooja', 'Sweta'],
        'age': [27, 24, 26, 27],
        'State': ['Bangalore', 'Noida', 'Ranchi', 'Bangalore']}

# create a Pandas DataFrame with the data
df = pd.DataFrame(data)

# create a Pandas Series from the 'age' column of the DataFrame
series = df['age']

# print the DataFrame and Series
print("DataFrame:")
print(df)
print("\nSeries:")
print(series)

DataFrame:
     name  age      State
0   Sajal   27  Bangalore
1  Poonam   24      Noida
2   Pooja   26     Ranchi
3   Sweta   27  Bangalore

Series:
0    27
1    24
2    26
3    27
Name: age, dtype: int64

5.) What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Pandas provides a variety of functions for manipulating data in a DataFrame. Here are some of the most commonly used functions:

head() and tail(): These functions can be used to view the first or last n rows of a DataFrame. For example, df.head(10) will return the first 10 rows of the DataFrame df.

describe(): This function provides summary statistics for each numeric column in the DataFrame. For example, df.describe() will return the count, mean, standard deviation, minimum, maximum, and quartile values for each numeric column in the DataFrame.

groupby(): This function is used to group rows in the DataFrame based on one or more columns, and then apply a function to each group. For example, df.groupby('country')['age'].mean() will group the DataFrame df by the 'country' column, and then calculate the mean age for each group.

sort_values(): This function is used to sort the rows of the DataFrame by one or more columns. For example, df.sort_values('age') will sort the DataFrame df by the 'age' column in ascending order.

dropna(): This function is used to remove any rows or columns from the DataFrame that contain missing values (NaN). For example, df.dropna() will remove any rows that contain missing values.

fillna(): This function is used to replace missing values (NaN) in the DataFrame with a specified value. For example, df.fillna(0) will replace any missing values in the DataFrame df with 0.

merge(): This function is used to merge two DataFrames based on a common column. For example, pd.merge(df1, df2, on='key') will merge the DataFrames df1 and df2 based on the 'key' column.

6.)Which of the following is mutable in nature Series, DataFrame, Panel?

Both Series and DataFrame are mutable in nature. Panel, on the other hand, is considered deprecated in the current version of Pandas and replaced by other data structures like MultiIndex or xarray.

7.) Create a DataFrame using multiple Series. Explain with an example.

In [17]:
import pandas as pd

# Create the first Series
names = pd.Series(['Sajal', 'Poonam', 'Pooja', 'Sweta'])

# Create the second Series
ages = pd.Series([27,24,26,27])

# Create the third Series
genders = pd.Series(['Male', 'Female', 'Female', 'Female'])

# Create the DataFrame using the dictionary of Series
df = pd.DataFrame({'Name': names, 'Age': ages, 'Gender': genders})

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Sajal   27    Male
1  Poonam   24  Female
2   Pooja   26  Female
3   Sweta   27  Female